html{
    border: 1px solid;
    border-color: rgb(148, 148, 148);
}
body{
    background-image: url(./background.jpg);
}

.head-txt{
    color: rgb(255, 0, 0);
}
.inp-form, .res-btn{
    margin-left: 10px;
}
.add-btn{
    margin-left: 6px;
}
.navbar-me{
    margin: 5px;
}
.nav-btn{
    float: right;
}
.del-btn{
    text-align: center !important;
    color: red !important;
}
.table{
    top:180px;
    margin: auto;
    border-radius: 5px;
    width: 50% !important;
}